# String functions

In [1]:
a = "my name is jack"

In [6]:
x = a.capitalize()
print(x)

My name is jack

In [9]:
y = a.index("jack")
print(y)

11

In [11]:
z = a.split()
print(z)

['My', 'name', 'is', 'jack']

In [12]:
b = a.upper()
print(b)

MY NAME IS JACK

In [13]:
c = a.find("is")
print(c)

8

# list functions

In [14]:
lst = [1, 2, "David", "home", 7]

In [16]:
lst.append("Chloe")
print(lst)

[1, 2, 'David', 'home', 7, 'Chloe', 'Chloe']

In [17]:
lst.pop()
print(lst)

[1, 2, 'David', 'home', 7, 'Chloe']

In [21]:
d = lst.index("David")
print(d)

2

In [28]:
lst = [1, 2, "David", "home", 7]

In [30]:
f = lst.count("David")
print(f)

1

In [32]:
g = lst.copy()
print(g)
print(lst)

[1, 2, 'David', 'home', 7]
[1, 2, 'David', 'home', 7]

# Dictionary Functions

In [35]:
dct = {"Name": "Max",
       "Address": "Arcadia Bay",
       "School": "Blackwell Academy"
      }

In [36]:
l = dct.copy()
print(l)
print(dct)

{'Name': 'Max', 'Address': 'Arcadia Bay', 'School': 'Blackwell Academy'}
{'Name': 'Max', 'Address': 'Arcadia Bay', 'School': 'Blackwell Academy'}

In [37]:
v = dct.keys()
print(v)

dict_keys(['Name', 'Address', 'School'])

In [38]:
h = dct.values()
print(h)

dict_values(['Max', 'Arcadia Bay', 'Blackwell Academy'])

In [39]:
dct.pop("School")
print(dct)

{'Name': 'Max', 'Address': 'Arcadia Bay'}

In [41]:
dct.update({"Age": 17})
print(dct)

{'Name': 'Max', 'Address': 'Arcadia Bay', 'Age': 17}